In [1]:
import pandas as pd

### Technical historical dataset
From 2016-09-02 To 2021-09-02

In [2]:
technical_data = pd.read_csv('technical_features_data.csv')
technical_data.tail()

,date,open,high,low,close,adjClose,volume,unadjustedVolume,change,changePercent,vwap,label,changeOverTime,UpperBB,LowerBB,volatility,rsi,macd
1822,2021-08-29,48911.250000,49644.113281,47925.855469,48829.832031,48829.832031,2.588965e+10,2.588965e+10,-81.41797,-0.166,48799.93359,"August 29, 21",-0.00166,53996.130503,28047.641373,1645.660840,60.474282,2057.908289
1823,2021-08-30,48834.851563,48925.605469,46950.273438,47054.984375,47054.984375,3.184701e+10,3.184701e+10,-1779.86719,-3.645,47643.62109,"August 30, 21",-0.03645,54211.850902,28344.512848,1583.112611,53.848934,1828.911828
1824,2021-08-31,47024.339844,48189.550781,46750.093750,47166.687500,47166.687500,3.473036e+10,3.473036e+10,142.34766,0.303,47368.77734,"August 31, 21",0.00303,54380.425623,28736.371721,1332.427984,54.189103,1637.567137
1825,2021-09-01,47099.773438,49111.089844,46562.437500,48847.027344,48847.027344,3.913940e+10,3.913940e+10,1747.25391,3.710,48173.51823,"September 01, 21",0.03710,54605.786219,29156.811203,980.043228,59.075752,1603.035676
1826,2021-09-02,48840.414063,49817.667969,48767.839844,49598.503906,49598.503906,3.908957e+10,3.908957e+10,758.08984,1.552,49394.67057,"September 02, 21",0.01552,54850.728295,29582.915377,909.622739,61.075470,1617.659747

### Twitter sentiment dataset 
From 2018-01-01 To 2020-06-09

In [4]:
twitter_data.tail()

          start  sentimentscore
840  2020-06-05        3.835772
841  2020-06-06        5.522719
842  2020-06-07        7.953006
843  2020-06-08        5.930273
844  2020-06-09        5.651405

### Reddit sentiment dataset 
From 2018-01-01 To 2021-08-31

In [6]:
reddit_data = pd.read_csv('../cryptocurrency_trading/data/final_reddit_data.csv')

In [7]:
reddit_data.head()

   Unnamed: 0        date  real_score  post_per_day
0           0  2018-01-01    0.191187           464
1           1  2018-01-02    0.476037           594
2           2  2018-01-03    0.689065           620
3           3  2018-01-04   -0.144155           629
4           4  2018-01-05    0.197948           686

In [8]:
reddit_data.tail()

      Unnamed: 0        date  real_score  post_per_day
1236        1236  2021-08-27    0.472290           269
1237        1237  2021-08-28    0.417047           219
1238        1238  2021-08-29    0.835773           199
1239        1239  2021-08-30    0.722232           232
1240        1240  2021-08-31    0.628596           259

### Merging the three datasets

In [10]:
final_data = pd.merge(twitter_data,technical_data, how = 'left', left_on = 'start', right_on = 'date')
final_data.head()

,start,sentimentscore,date,open,high,low,close,adjClose,volume,unadjustedVolume,change,changePercent,vwap,label,changeOverTime,UpperBB,LowerBB,volatility,rsi,macd
0,2018-01-01,4.087525,2018-01-01,14112.200195,14112.200195,13154.700195,13657.200195,13657.200195,1.029120e+10,1.029120e+10,-455.00000,-3.224,13641.36686,"January 01, 18",-0.03224,20532.876074,5012.581523,1290.493390,46.256417,95.011453
1,2018-01-02,4.721295,2018-01-02,13625.000000,15444.599609,13163.599609,14982.099609,14982.099609,1.684660e+10,1.684660e+10,1357.09961,9.960,14530.09961,"January 02, 18",0.09960,20514.236225,5368.125747,1018.066882,51.765003,112.782434
2,2018-01-03,6.096648,2018-01-03,14978.200195,15572.799805,14844.500000,15201.000000,15201.000000,1.687190e+10,1.687190e+10,222.79981,1.487,15206.09994,"January 03, 18",0.01487,20488.303236,5736.668737,883.368621,52.628926,142.882437
3,2018-01-04,4.738479,2018-01-04,15270.700195,15739.700195,14522.200195,15599.200195,15599.200195,2.178320e+10,2.178320e+10,328.50000,2.151,15287.03353,"January 04, 18",0.02151,20492.881190,6063.437189,864.964200,54.234716,196.602028
4,2018-01-05,5.809624,2018-01-05,15477.200195,17705.199219,15202.799805,17429.500000,17429.500000,2.384090e+10,2.384090e+10,1952.29981,12.614,16779.16634,"January 05, 18",0.12614,20605.405339,6333.225442,1103.623175,60.810539,382.456370

In [11]:
final_data = final_data.drop(columns = 'label')

In [12]:
final_data.head()

,start,sentimentscore,date,open,high,low,close,adjClose,volume,unadjustedVolume,change,changePercent,vwap,changeOverTime,UpperBB,LowerBB,volatility,rsi,macd
0,2018-01-01,4.087525,2018-01-01,14112.200195,14112.200195,13154.700195,13657.200195,13657.200195,1.029120e+10,1.029120e+10,-455.00000,-3.224,13641.36686,-0.03224,20532.876074,5012.581523,1290.493390,46.256417,95.011453
1,2018-01-02,4.721295,2018-01-02,13625.000000,15444.599609,13163.599609,14982.099609,14982.099609,1.684660e+10,1.684660e+10,1357.09961,9.960,14530.09961,0.09960,20514.236225,5368.125747,1018.066882,51.765003,112.782434
2,2018-01-03,6.096648,2018-01-03,14978.200195,15572.799805,14844.500000,15201.000000,15201.000000,1.687190e+10,1.687190e+10,222.79981,1.487,15206.09994,0.01487,20488.303236,5736.668737,883.368621,52.628926,142.882437
3,2018-01-04,4.738479,2018-01-04,15270.700195,15739.700195,14522.200195,15599.200195,15599.200195,2.178320e+10,2.178320e+10,328.50000,2.151,15287.03353,0.02151,20492.881190,6063.437189,864.964200,54.234716,196.602028
4,2018-01-05,5.809624,2018-01-05,15477.200195,17705.199219,15202.799805,17429.500000,17429.500000,2.384090e+10,2.384090e+10,1952.29981,12.614,16779.16634,0.12614,20605.405339,6333.225442,1103.623175,60.810539,382.456370

In [13]:
final_data = pd.merge(final_data,reddit_data, how = 'left', left_on = 'start', right_on = 'date')

In [22]:
final_data = final_data.drop(columns = 'Unnamed: 0')

In [26]:
final_data = final_data.drop(columns = ['date_x','date_y'])

In [27]:
final_data.head()

,start,sentimentscore,open,high,low,close,adjClose,volume,unadjustedVolume,change,changePercent,vwap,changeOverTime,UpperBB,LowerBB,volatility,rsi,macd,real_score,post_per_day
0,2018-01-01,4.087525,14112.200195,14112.200195,13154.700195,13657.200195,13657.200195,1.029120e+10,1.029120e+10,-455.00000,-3.224,13641.36686,-0.03224,20532.876074,5012.581523,1290.493390,46.256417,95.011453,0.191187,464.0
1,2018-01-02,4.721295,13625.000000,15444.599609,13163.599609,14982.099609,14982.099609,1.684660e+10,1.684660e+10,1357.09961,9.960,14530.09961,0.09960,20514.236225,5368.125747,1018.066882,51.765003,112.782434,0.476037,594.0
2,2018-01-03,6.096648,14978.200195,15572.799805,14844.500000,15201.000000,15201.000000,1.687190e+10,1.687190e+10,222.79981,1.487,15206.09994,0.01487,20488.303236,5736.668737,883.368621,52.628926,142.882437,0.689065,620.0
3,2018-01-04,4.738479,15270.700195,15739.700195,14522.200195,15599.200195,15599.200195,2.178320e+10,2.178320e+10,328.50000,2.151,15287.03353,0.02151,20492.881190,6063.437189,864.964200,54.234716,196.602028,-0.144155,629.0
4,2018-01-05,5.809624,15477.200195,17705.199219,15202.799805,17429.500000,17429.500000,2.384090e+10,2.384090e+10,1952.29981,12.614,16779.16634,0.12614,20605.405339,6333.225442,1103.623175,60.810539,382.456370,0.197948,686.0

In [28]:
final_data.tail()

,start,sentimentscore,open,high,low,close,adjClose,volume,unadjustedVolume,change,changePercent,vwap,changeOverTime,UpperBB,LowerBB,volatility,rsi,macd,real_score,post_per_day
840,2020-06-05,3.835772,9800.215820,9869.237305,9663.216797,9665.533203,9665.533203,2.350963e+10,2.350963e+10,-134.68262,-1.374,9732.66244,-0.01374,10684.840323,6982.883993,380.495887,55.283176,234.334651,0.507125,190.0
841,2020-06-06,5.522719,9664.904297,9773.431641,9591.024414,9653.679688,9653.679688,2.043842e+10,2.043842e+10,-11.22461,-0.116,9672.71191,-0.00116,10680.510600,7089.513522,380.195465,55.089118,224.215150,0.355522,154.0
842,2020-06-07,7.953006,9653.002930,9768.498047,9458.150391,9758.852539,9758.852539,2.501525e+10,2.501525e+10,105.84961,1.097,9661.83366,0.01097,10684.250302,7185.821319,339.654263,56.546600,222.121465,0.655545,166.0
843,2020-06-08,5.930273,9760.063477,9782.306641,9675.885742,9771.489258,9771.489258,2.148635e+10,2.148635e+10,11.42578,0.117,9743.22721,0.00117,10677.012396,7296.341803,298.674502,56.728307,218.957873,0.495176,155.0
844,2020-06-09,5.651405,9774.360352,9836.369141,9664.719727,9795.700195,9795.700195,2.371784e+10,2.371784e+10,21.33984,0.218,9765.59635,0.00218,10637.177676,7452.726191,218.914568,57.098460,215.915385,0.403074,180.0

In [30]:
! pwd

/home/omar/code/omarbelhaj99/cryptocurrency_trading/notebooks

In [31]:
final_data.to_csv('almost_final_data_from_2018_01_01_to_2020_06_09.csv')